{{> header}}
<br>
<table style="margin-left: auto; margin-right: auto;" cellspacing="10">
    <tbody>
        <tr>
            <td>
                <h2>Hola! {{solicitudName}}</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p>Muchas gracias por solicitar su Valuacion! Los datos de su prenda <strong> {{valuationItem}} de {{valuationMaterial}} </strong>, 
                la cual fue utilizada para solicitar un prestamo con el valor de: <strong>${{valuationRequestedLoan}}</strong>.</p>
                <p>La fecha de su Cita de tipo {{solicitudType}} es el {{solicitudAppointmentDate}} en la sucursal de la empresa. Se
                    realizara una valuacion
                    presencial, para poder determinar el valor real de la prenda y de ser aprobado se le realizara el
                    prestamo a:</p>
                <ul>
                    <li>Nombre: {{solicitudName}}</li>
                    <li>Apellidos: {{solicitudLastName}}</li>
                    <li>Email: {{solicitudEmail}}</li>
                    <li>Telefono: {{solicitudPhone}}</li>
                </ul>
                <p>Esperando que tenga un gran dia, me despido.</p>
                <p>Saludos!</p>
                <p>Atte. Gerencia Embai</p>
            </td>
        </tr>
    </tbody>
</table>
<br>
{{> footer}}